<div id="<%= dom_id delivery %>">
  <p>
    <strong>Pickup address:</strong>
    <%= delivery.pickup_address %>
  </p>

  <p>
    <strong>Delivery address:</strong>
    <%= delivery.delivery_address %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= delivery.weight %>
  </p>

  <p>
    <strong>Distance:</strong>
    <%= delivery.distance %>
  </p>

  <p>
    <strong>Scheduled time:</strong>
    <%= delivery.scheduled_time %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= delivery.cost %>
  </p>

  <p>
    <strong>Driver name:</strong>
    <%= delivery.driver_name %>
  </p>

</div>
