<%= link_to "New delivery", new_delivery_path %>

<p style="color: green"><%= notice %></p>

<% content_for :title, "Deliveries" %>

<h1>Deliveries</h1>

<div id="deliveries">
  <% @records.each do |delivery| %>
    <%= render delivery %>
    <p>
      <%= link_to "Show this delivery", delivery %>
    </p>
  <% end %>
</div>

<% if @records.any? %>
  <%== pagy_nav(@pagy) %>
  <%== pagy_info(@pagy) %>
<% else %>
  <%= render(partial: "delivery_blankslate") %>
<% end %>