<div class="table-container">
  <h1 style="text-align: center">Deliveries</h1>
  <div style="text-align: right;">
    <%= button_to("New delivery", new_delivery_path, method: :get, class: "button") %>
  </div>
  <% if @records.any? %>
    <%= delivery_filters %>
    <%= render(partial: "deliveries", locals: {records: @records, total_cost: @total_cost, pagy: @pagy}) %>
  <% elsif @total_records.any? %>
    <%= delivery_filters %>
    <%= render(partial: "empty_table") %>
  <% else %>
    <%= render(partial: "delivery_blankslate") %>
  <% end %>
</div>
