<p style="color: var(--color-status-success)"><%= notice %></p>

<%= render @delivery %>

<div>
  <%= link_to "Edit this delivery", edit_delivery_path(@delivery) %> |
  <%= link_to "Back to deliveries", deliveries_path %>

  <%= button_to(@delivery, method: :delete, class: "mdc-button mdc-button--raised", data: { controller: "confirm", action: "click->confirm#confirm" }) do %>
    <span class="material-symbols-outlined" aria-hidden="true">delete</span>
    Destroy this delivery
  <% end %>
</div>
